@import "tailwindcss";

.right {
    margin-left: 40px; 
  }

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }

.txt {
background-color: gray-500;
}

